<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944892355389-qfnnv8c4344dk8ka4904ue35rclf3ipg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944892355389-qfnnv8c4344dk8ka4904ue35rclf3ipg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944892355389-jat7kf35dqlvc2uvlsh3vbuq8ge6s6s5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcgSYu70ITyg2JyUc26038zhGH1Klo3cg</string>
	<key>GCM_SENDER_ID</key>
	<string>944892355389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.tum.tca</string>
	<key>PROJECT_ID</key>
	<string>tca-backend-0001</string>
	<key>STORAGE_BUCKET</key>
	<string>tca-backend-0001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944892355389:ios:70b9e0e71c71af4b52db54</string>
	<key>DATABASE_URL</key>
	<string>https://tca-backend-0001.firebaseio.com</string>
</dict>
</plist>